name: Build BusyBox

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential
      
      - name: Configure BusyBox
        run: |
          make defconfig
          sed -i 's/^CONFIG_TC=y/# CONFIG_TC is not set/' .config
      
      - name: Build
        run: make -j$(nproc)
