[Desktop Entry]
Name=BlazeNeuro
Comment=BlazeNeuro Desktop Environment
Exec=/usr/local/bin/blazeneuro-session
Type=Application
DesktopNames=BlazeNeuro
